.submit {
  width: 150px;
  background: coral;
  color: floralwhite;
  border: 1px double coral;
  border-radius: 10px;
  height: 35px;
  transition: 0.2s;
}
.submit:hover {
  background: floralwhite;
  color: coral;
}
